{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content %}
    <h1>Welcome to the Admin Dashboard</h1>
    <hr>
    <p>This is your admin panel. Use the menu to navigate.</p>
{% endblock %}